.linkshortenerContainer {
  width: 100%;
  margin: auto;
  background-color: hsl(257, 27%, 26%);
  padding: 50px;
  border-radius: 8px;
  background-image: url("../../assets//images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.linkMainContainer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50px);
  /*left: 50%; */
  /* transform: translateX(-50%); */
}

.shortenerInput {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

.formError > input {
  border: 1px solid red;
}

.list_history_container {
  background-color: white;
  border-radius: 8;
  padding: 15px;
}

.linkListContainer {
  /* height: 500px; */
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 750px) {
  .list_history_container {
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }

  .link_history_result_container {
    flex-direction: column !important;
    align-items: flex-start !important;
    width: 100%;
  }

  .list_history_container > div,
  .list_history_container > .link_history_result_container > span {
    margin-bottom: 15px;
  }

  .link_result_copy_button,
  .linkFormSubmitButton,
  .shortenerInput,
  .shortenerInputContainer {
    width: 100% !important;
  }

  .shortenerInputContainer {
    margin-right: 0 !important;
  }

  .linkFormSubmitButton {
    margin-top: 40px;
  }

  .linsShortenerFormContainer {
    flex-direction: column !important;
  }
}

@media (max-width: 570px) {
  .header-one {
    font-size: 29px !important;
  }
  .header-two {
    font-size: 26px;
  }

  .advancedStatoContainer {
    width: 80% !important;
  }
}
