.app_button {
  transition: all 0.3s ease-out;
  padding: 10px;
  min-width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40px;
}

.app_button:hover {
  transform: scale(1.03);
  background-color: rgb(155, 227, 226) !important;
}

.app_button > label {
  font-size: 13px;
}
