.middle_line {
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1;
  height: 13px;
  background-color: hsl(180, 66%, 49%);
}

.home_card {
  position: relative;
  background-color: white;
  min-height: 250px;
  border-radius: 8px;
  z-index: 2;
}

.home_card:nth-child(2) {
  transform: translateY(40px);
}

.home_card:nth-child(3) {
  transform: translateY(80px);
}

.home_card > div.icon {
  padding: 10px;
  background-color: rgb(56, 49, 84);
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -40px;
  left: 40px;
}

.boostyourlinktoday {
  background-color: hsl(257, 27%, 26%);
  padding: 50px;
  background-image: url("../assets//images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.socialIcons {
  cursor: pointer;
}

.socialIcons:hover {
  fill: hsl(180, 66%, 49%) !important;
}
