.footerLink:hover {
  color: hsl(180, 66%, 49%) !important;
}

@media (max-width: 940px) {
  .footerContainerComp {
    flex-direction: column !important;
    align-items: center !important;
  }

  .footerContainerComp > div {
    margin-bottom: 40px;
  }

  .footerContainerComp > div > h4,
  .footerContainerComp > div > div > a {
    text-align: center;
  }
}
